# compiled object files
*.o

# compiled dynamic libraries
*.so

# compiled static libraries
*.a

# Visual studio files
*.sdf
*.opensdf
Debug/

# Vim temp files
*.swp

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake

# json_spirit binaries
json_demo/json_demo
json_headers_only_demo/json_headers_only_demo
json_map_demo/json_map_demo
json_test/json_test
